# aws cdk
aws-cdk.core==1.181.0
aws-cdk.aws_lambda==1.181.0
aws-cdk.aws_apigatewayv2==1.181.0
aws-cdk.aws_apigatewayv2_integrations==1.181.0
aws-cdk.aws_cognito==1.181.0
aws-cdk.aws_rds==1.181.0
aws-cdk.aws_ec2==1.181.0

# pydantic settings
pydantic
python-dotenv
