# aws cdk
aws-cdk-lib==2.99.1
aws_cdk-aws_apigatewayv2_alpha==2.99.1a0
aws_cdk-aws_apigatewayv2_integrations_alpha==2.99.1a0
constructs>=10.0.0
boto3==1.28.71
# pydantic settings
pydantic~=2.0
pydantic-settings~=2.0
eoapi-cdk==6.1.0